<nav>
  <ul>
    <li><a  routerLink="/User"routerLinkActive="active"  target="_blank"    
       >User</a></li>                               <!--adding route to the"routerLink" attribute  -->
    <li><a routerLink="/Admin"routerLinkActive="active" 
    >Admin</a></li>   <!--queryParams is used to pass parameters to the URL (This is doing directly from the template this is one way)-->
               <!--fragments is also used to pass fragments to the URL from the template-->
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button (click)="onLogInClick()">Login</button>
      <button (click)="onLogOutClick()">Logout</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


